
{% load static tailwind_tags %}
<!DOCTYPE html>
<html :class="{ 'theme-dark': dark }" x-data="data()" lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static tailwind_tags %}
    <title>Add product</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../assets/css/tailwind.output.css" />
    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
      defer
    ></script>
    <script src="../assets/js/init-alpine.js"></script>
  </head>
  <body>
    <div class="flex items-center min-h-screen p-6 bg-gray-50 dark:bg-gray-900">
      <div
        class="flex-1 h-full max-w-3xl mx-auto overflow-hidden bg-white rounded-lg shadow-xl dark:bg-gray-800"
      >
          <div class="flex items-center justify-center p-6 sm:p-12">
            <div class="w-full">
              <h1
                class="mb-4 text-3xl text-center font-semibold text-gray-700 dark:text-gray-200"
              >
                Add Product
              </h1>
             <form method='post'>
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit"  class="flex mx-auto space-y-4  text-white bg-green-500 border-0 py-2 px-8 focus:outline-none hover:bg-green-600 rounded text-lg" value="Add">
             </form>


            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
